/* CSS File for Weather App HTML Files */

/* Global Styles */

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

body{
    margin: 0 auto;
    text-align: center;
}